#### Análises de dados com Python utilizando a biblioteca pandas

**DATA SCIENCE:** Uma ciência que estuda informações. O processo de captura, geração, transformação e a análise.
**BIBLIOTECA PANDA:** Biblioteca de código aberto, para trabalhar com dados tipo planilha. Onde possibilita manipular, alinhar e outros tipos de funções.

In [54]:
#Para instalação da biblioteca Pandas, com o pip atualizado na máquina --> pip install pandas
import pandas as pd  #importação da biblioteca Pandas a nomeando

In [6]:
#df de dataframe, um conjunto de dados estruturada como matriz, semelhante a tabela
df = pd.read_csv('datasets/Gapminder.csv',sep=';') #leitura do documento, com separação por ;

In [9]:
df.head() #Visualização das 5 primeiras linhas

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [31]:
#Renomeação das colunas
#Argumento 'inplace=True' para a renomeação vigorar
df.rename(columns={'country':'Pais', 'continent':'Continente', 'year':'Ano','lifeExp':'Expectativa de Vida','pop': 'Pop Total', 'gdpPercap':'PIB'},inplace=True)

In [32]:
df.shape #Quantidade de linhas e colunas, respectivamente.

(3312, 6)

In [33]:
df.columns #Retorna as colunas

Index(['Pais', 'Continente', 'Ano', 'Expectativa de Vida', 'Pop Total', 'PIB'], dtype='object')

In [34]:
df.dtypes #Tipo de dados por coluna

Pais                    object
Continente              object
Ano                      int64
Expectativa de Vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [ ]:
df.tail(15) #Visualização das últimas linhas(pode passar o n° desejado)

In [ ]:
df.describe() #Retorna informaçãoes estatísticas

In [39]:
df['Continente'].unique() #Filtrar informação de uma coluna

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [47]:
#variável para localizar('loc') Oceania na coluna Continente
oceania = df.loc[df['Continente']=='Oceania']
#Visualizar as 5 primeiras linhas dessa nova variável
oceania.head()

     Pais Continente   Ano  Expectativa de Vida  Pop Total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [48]:
oceania['Continente'].unique() #Significa que toda a coluna Continente de oceania, é Oceania.

array(['Oceania'], dtype=object)

In [ ]:
df.groupby('Continente')['Pais'].nunique() #Agrupamento de dados.

In [ ]:
#Expextativa média de vida por ano
df.groupby('Ano')['Expectativa de Vida'].mean()

In [56]:
df['PIB'].mean()

11317.115804696648

In [57]:
df['PIB'].sum()

37482287.5451553